################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RndProjects/v15
/ADUsersExtractor/bin/Debug
/ADUsersExtractor/obj/Debug
/ImageEditor/bin/Debug
/ImageEditor/obj/Debug
/EmailClient/obj/Debug
/RndProjects.v12.suo
