################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
[Bb]in
[Dd]ebug
*.suo
packages
[Oo]bj
