<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmailClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!-- Below are the SMTP settings -->
  <system.net>
    <mailSettings>
      <smtp from="from@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="useremail" password="password"/>
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <EmailClient.Properties.Settings>
      <setting name="MessageSubject" serializeAs="String">
        <value>Test Subject Message</value>
      </setting>
      <setting name="MessageBodyText" serializeAs="String">
        <value>Test content</value>
      </setting>
      <setting name="IsBodyHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToEmail" serializeAs="String">
        <value>niranjan.kala@gmail.com, niranjan.singh@mind-infotech.com</value>
      </setting>
    </EmailClient.Properties.Settings>
  </applicationSettings>
</configuration>
