<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AXUxiFpmQJPg7u86u98UozU-E3JsXquSQws4YZo2q-xKXVz8fJCXsR-9tFzgxADfTZBdOuQbrUdmAELP" />
      <add name="clientSecret" value="ENBvNfpmaa18DFYSthAXFCcpQEwj_9i6_GAMfomaYuLUILYDI5RfrxUI8iug1DmfG1sftpH3du8PO0oK" />
    </settings>
  </paypal>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>